/*
  Main Application Stylesheet
*/

/*
  Bootstrap override
*/
input[type="file"] {
  display: inline-block;
}

.fcmder_files-table ul {
  margin-bottom: 0px;
}

/*
  JavaScript elements only
*/
.fcmder_file-filter {
  padding: 6px;
  margin: 6px 4px;
}

.fcmder_order-marker {
  float: right;
  padding: 1px 0px 1px 4px;
}
