<div class="container" ng-controller="TemplateCtrl">

  <div class="row">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
      {{alert.msg}}
    </alert>
  </div>

  <div class="row">
    <alert ng-repeat="action in actions" type="{{action.type}}" class="fcmder_inprogress">
      {{action.msg}}
    </alert>
  </div>

  <ul class="row fcmder_cdir-commands">
    <li>
      <div>Upload files to current folder</div>
      <form ng-controller="FileUploadCtrl" ng-submit="onSubmit()" file-upload-form-watch>
        <input type="file" name="upload" multiple="multiple" accept={{FCMDER_UPLOAD_TYPES}} file-model="files2upload"/>
        <button type="submit">Upload</button>
      </form>
    </li>
    <li>
      <div>Create a new folder in current folder</div>
      <form ng-controller="FormPostCtrl" ng-submit="onSubmit()">
        <input type="text" placeholder="Folder name" ng-model="form.attrs.name" />
        <button type="submit">Create</button>
      </form>
    </li>
    <li>
      <div>Copy or move selected elements to current folder</div>
      <form ng-controller="FormPostCtrl" ng-submit="onSubmit()">
        <input type="text" placeholder="Source path" ng-model="form.attrs.local" required />
        <input type="text" placeholder="New name" ng-model="form.attrs.name" />
        <button type="submit" ng-click="form.attrs.preserve=null">Move</button>
        <button type="submit" ng-click="form.attrs.preserve='preserve'">Copy</button>
      </form>
    </li>
  </ul>

  <div class="row">
    <div class="fcmder_file-filter">
      Filter: <input ng-model="query.name" placeholder="file name">
    </div>
  </div>

  <div class="row">

    <table class="fcmder_files-table table-style">
      <tbody>
        <tr class="row">
          <th ng-click="onOrderClick('name')" class="col-sm-3">
            Name <small class="fcmder_order-marker">{{orderMarker.name | marker}}</small>
          </th>
          <th ng-click="onOrderClick('mtime')" class="col-sm-2">
            Date modified <small class="fcmder_order-marker">{{orderMarker.mtime | marker}}</small>
          </th>
          <th ng-click="onOrderClick('size')" class="col-sm-1">
            Size <small class="fcmder_order-marker">{{orderMarker.size | marker}}</small>
          </th>
          <th ng-click="onOrderClick('mime')" class="col-sm-1">
            Kind <small class="fcmder_order-marker">{{orderMarker.kind | marker}}</small>
          </th>
          <th class="col-sm-5">
                Actions
          </th>
        </tr>
        <tr class="row">
          <td>
            <a href="{{'#' + (parentDir | url)}}">{{parentDir.name}}</a>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="row" ng-repeat="item in items | filter:query | orderBy:orderProp">
          <td>
            <a href="{{'#' + (item | url)}}">{{item.name}}</a>
          </td>
          <td>
            <span>{{item | mtime}}</span>
          </td>
          <td>
            <span>{{item | size}}</span>
          </td>
          <td>
            <span>{{item | kind}}</span>
          </td>
          <td>
            <ul>
              <li>
                <form ng-controller="FormPostCtrl" ng-submit="onSubmit()">
                  <input type="text" ng-model="form.attrs.name" ng-init="form.attrs.name=item.name" />
                  <input type="hidden" ng-model="form.attrs.local" ng-init="form.attrs.local=item.path" />
                  <button type="submit">Rename</button>
                </form>
              </li>
              <li>
                <form ng-controller="FormDeleteCtrl" ng-submit="onSubmit()">
                  <label><input type="checkbox" ng-model="form.attrs.force" /> force removal</label>
                  <button type="submit">Delete</button>
                </form>
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
