extends layouts/layout.jade

block nav
  include mixins/base.jade
  .navigation
    .fcmder_app-pages
      +navRoot(CONSTS.COMMANDER.PUBLIC_APP_URL_MOUNT)
    .fcmder_user-cmds
      if (!appkey.user)
        +userCmds(CONSTS.COMMANDER.LOGIN_ROUTE, 'Log in')
      else
        +userCmds(CONSTS.COMMANDER.PRIVATE_APP_URL_MOUNT, 'My files', CONSTS.COMMANDER.HOME_ROUTE, 'Home', CONSTS.COMMANDER.LOGOUT_ROUTE, 'Log out')

block content
  .container
    p This is File Commander.
