extends layouts/layout.jade

block nav
  include mixins/base.jade
  .navigation
    .fcmder_app-pages
      +navRoot(CONSTS.COMMANDER.PUBLIC_APP_URL_MOUNT)
    .fcmder_user-cmds
      if (!appkey.user)
        +userCmds(CONSTS.COMMANDER.LOGIN_ROUTE, 'Log in')
      else
        +userCmds(CONSTS.COMMANDER.PRIVATE_APP_URL_MOUNT, 'My files', CONSTS.COMMANDER.HOME_ROUTE, 'Home', CONSTS.COMMANDER.LOGOUT_ROUTE, 'Log out')

block content
  .jumbotron
    .container
      h1 File Commander
      p
        | Welcome! This is File Commander - an application for remote files management.
  .container
    .row
      .col-sm-8
        h2 What can I do with this?
        p
          | You may browse through public files used by the application or log in via Google or GitHub account and upload and manage your own files.
          | New account is created for you when you log in for a first time.
          | Please note that the application is currently under development and each file or account may be deleted anytime.
      .col-sm-4
        h2 Open source
        p
          | You may see whole source code of the application on 
          a(href="https://github.com/okramolis/file-commander") GitHub
          | . The application is being developed by Ondřej Kramoliš.
