extends ../layouts/layout.jade

block nav
  include ../../common/mixins/base.jade
  nav
    .fcmder_app-pages
      +navLinks('/', CONSTS.COMMANDER.PUBLIC_APP_URL_MOUNT)
    .fcmder_user-cmds
      +userCmds(CONSTS.COMMANDER.PRIVATE_APP_URL_MOUNT, 'My files', CONSTS.COMMANDER.LOGOUT_ROUTE, 'Log out')

block content
  .container
    p Logged in as 
      span.fcmder_user-name #{appkey.user.displayName || appkey.user.username}
      |  using 
      span.fcmder_auth-provider #{appkey.user.provider}
      |  authentication method.
