doctype transitional
html&attributes(appkey.root.attrs)
  head
    block metas
      meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    block styles
      link(rel="stylesheet" type="text/css" href="/styles/common.css")
      link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
    block scripts
  body(class=appkey.body.classes)
    block nav
    block content
