extends ../../common/layouts/layout.jade

block content
  p JavaScript support not detected. Please use 
    a(href=fcmder.req.prefix.app + CONSTS.PLAIN_APP_URL_MOUNT + fcmder.req.url) plain application
    |  instead.
