doctype transitional
html&attributes(appkey.root.attrs)
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    block styles
      link(rel="stylesheet" type="text/css" href="/styles/common.css")
    block scripts
  body(class=appkey.body.classes)
    block nav
    block content
