extends ../../common/layouts/layout.jade

block styles
  link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
  link(rel="stylesheet" type="text/css" href="/styles/main.css")

append scripts
  script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.js")
  script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular-route.js")
  script(type="text/javascript" src="/scripts/utils.js")
  script(type="text/javascript" src="/scripts/angular/read-only/app.js")
  script(type="text/javascript" src="/scripts/angular/controller.js")
  script(type="text/javascript" src="/scripts/angular/filters.js")

block content
  div(ng-view)
    p JavaScript support not detected. Please use 
      a(href=CONSTS.COMMANDER.PUBLIC_APP_URL_MOUNT + CONSTS.COMMANDER.PLAIN_APP_URL_MOUNT + appkey.app.path) plain application
      |  instead.
