extends ../../common/layouts/layout.jade

block content
  p JavaScript support not detected. Please use 
    a(href=CONSTS.COMMANDER.PUBLIC_APP_URL_MOUNT + CONSTS.COMMANDER.PLAIN_APP_URL_MOUNT + appkey.app.path) plain application
    |  instead.
