<div class="container" ng-controller="TemplateCtrl">

  <div class="row">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
      {{alert.msg}}
    </alert>
  </div>

  <div class="row">
    <div class="fcmder_file-filter">
      Filter: <input ng-model="query.name" placeholder="file name">
    </div>
  </div>

  <div class="row">
    <table class="fcmder_files-table table-style">
      <tbody>
        <tr class="row">
          <th ng-click="onOrderClick('name')" class="col-sm-6">
            Name <small class="fcmder_order-marker">{{orderMarker.name | marker}}</small>
          </th>
          <th ng-click="onOrderClick('mtime')" class="col-sm-3">
            Date modified <small class="fcmder_order-marker">{{orderMarker.mtime | marker}}</small>
          </th>
          <th ng-click="onOrderClick('size')" class="col-sm-1">
            Size <small class="fcmder_order-marker">{{orderMarker.size | marker}}</small>
          </th>
          <th ng-click="onOrderClick('mime')" class="col-sm-2">
            Kind <small class="fcmder_order-marker">{{orderMarker.kind | marker}}</small>
          </th>
        </tr>
        <tr class="row">
          <td>
            <a href="{{'#' + (parentDir | url)}}">{{parentDir.name}}</a>
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="row" ng-repeat="item in items | filter:query | orderBy:orderProp">
          <td>
            <a href="{{'#' + (item | url)}}">{{item.name}}</a>
          </td>
          <td>
            <span>{{item | mtime}}</span>
          </td>
          <td>
            <span>{{item | size}}</span>
          </td>
          <td>
            <span>{{item | kind}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
