extends ../layouts/layout.jade

mixin linkProvider(href, name)
  a(href=href)= name

block content
  if (appkey.auth.hasOwnProperty('local'))
    div#local-auth
      form(action=appkey.auth.local.postRoute, method="post")
        input(type="text", placeholder="Username", name=appkey.auth.local.fields.username)
        input(type="password", placeholder="Password", name=appkey.auth.local.fields.password)
        input(type="submit", value="Sing in")
  if (appkey.auth.hasOwnProperty('links') && Array.isArray(appkey.auth.links) && appkey.auth.links.length > 0)
    div#providers-auth Sing in with:
      ul
        each link in appkey.auth.links
          li
            +linkProvider(link.sendRoute, link.nice || link.name)
